body {
	background-color: rgb(159, 159, 159);
}

.joke {
	width: auto;
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: rgb(0, 0, 0);
    font-size: larger;
}

h1 {
	text-align: center;
	color: rgb(0, 0, 0);
}

div{
    align-items: center;
}

